@mixin home-title {
    padding-left: 15px;
    font-family: $texte-font;
    font-weight: 700;
    font-size: 24px;
}

@mixin purple-button {
    width: 218px;
    background: linear-gradient($secondary-color,$primary-color);
    border-radius: 25px;
    border: none;
    height: 50px;
    font-weight: 500px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: $texte-font;
    text-align: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    transition: all 400ms ease;

    &:hover {
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5);
        filter: brightness(110%); /* Ajuste la luminosité */
    }
}

@mixin heart-icon {
    color: #101010;
    font-size: 25px;
    cursor: pointer;
}