@charset "UTF-8";
/*Variables couleurs*/
/*Variables font*/
/*Variable breakpoint Desktop*/
body {
  margin: 0 auto;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding-left: 27px;
}
@media (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    gap: 70px;
    padding: 30px 25px 30px 25px;
  }
}
footer h3 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  font-family: "Shrikhand";
  padding-top: 15px;
  margin-top: 0;
}
footer a {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
  gap: 5px;
}
footer i {
  padding-right: 7px;
  width: 11px;
  height: 13px;
  font-size: 14px;
}
footer .bold-text {
  font-weight: 500;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (min-width: 1024px) {
  .footer-container {
    flex-direction: row;
    gap: 15px;
  }
}

.homepage-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.test {
  margin: 14px auto;
  height: 30px;
}

.Logo {
  height: 36px;
  margin: 14px auto;
}

.search-bar {
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), inset 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
@media (min-width: 1024px) {
  .search-bar {
    box-shadow: none;
  }
}

#localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 18px;
  color: rgb(0, 0, 0);
  margin-right: 17px;
}

input {
  border: none;
  background-color: #EAEAEA;
  color: black;
  outline: none;
  width: 110px;
}

input::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
  width: 110px;
}

input::placeholder {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
  width: 110px;
}

.menu-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 65px;
}

.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-nav a {
  display: flex;
  align-items: center;
}
.menu-nav i {
  font-size: 30px;
  height: 16px;
  align-content: center;
  padding-left: 20px;
}

.title-and-intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: #F6F6F6;
  padding-bottom: 30px;
}
.title-and-intro h1 {
  font-family: "Roboto";
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  width: 275px;
  margin-bottom: 0;
  margin-top: 30px;
}
@media (min-width: 1024px) {
  .title-and-intro h1 {
    width: 100%;
    font-size: 40px;
  }
}
.title-and-intro p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
.title-and-intro button {
  width: 218px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  border: none;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  font-family: "Roboto";
  text-align: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: all 400ms ease;
}
.title-and-intro button:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5);
  filter: brightness(110%); /* Ajuste la luminosité */
}

.operation {
  width: 100%;
  height: 440px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .operation {
    height: 228px;
  }
}
.operation-list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .operation-list {
    width: 80%;
    margin: 0 auto;
  }
}
.operation h2 {
  padding-left: 30px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  padding-top: 30px;
}
.operation ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
@media (min-width: 1024px) {
  .operation ul {
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
    width: 90%;
    padding-left: 40px;
  }
}
.operation li {
  position: relative;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}
@media (min-width: 1024px) {
  .operation li {
    width: 100%;
  }
}

.operation-title {
  width: 100%;
  text-align: center;
}

.fa-store {
  color: #9356DC;
  margin-right: 10px;
}

.num {
  height: 30px;
  width: 30px;
  background-color: #9356DC;
  border-radius: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -15px;
  color: white;
}
.num-icons {
  color: gray;
  margin-right: 10px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding-bottom: 20px;
}
.restaurants h2 {
  padding-left: 30px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  padding-top: 30px;
}
.restaurants-cards {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurants a {
  width: 90%;
  margin: auto;
}
@media (min-width: 1024px) {
  .restaurants a {
    width: 45%;
  }
}

.restaurants-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1024px) {
  .restaurants-container {
    width: 80%;
    margin: 0 auto;
  }
}

.card {
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.card-new {
  position: absolute;
  top: 13px;
  right: 15px;
  background-color: #99E2D0;
  border-radius: 2px;
  width: 80px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  color: #008766;
  font-size: 14px;
  font-weight: 500;
}
.card img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 11px;
  height: 60px;
}
.card-title {
  font-weight: 700;
  font-size: 18px;
  font-family: "Roboto";
  padding-top: 15px;
  padding-bottom: 2px;
  margin: auto;
}
.card-subtitle {
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto";
  margin-top: 0;
}
.card-heart {
  align-self: flex-end;
  position: absolute;
  right: 57px;
  bottom: 48px;
  position: relative;
  font-size: 25px;
  cursor: pointer;
}
.card-heart:hover .empty-heart {
  opacity: 0;
  transition: 2s;
}
.card-heart:hover .full-heart {
  opacity: 1;
  transition: 2s;
}

.img-container img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}
@media (min-width: 1024px) {
  .img-container img {
    height: 361px;
  }
}

.container-menu {
  margin-top: -50px;
  position: relative;
  width: 100%;
  background-color: #F6F6F6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .container-menu {
    padding: 0 100px;
    width: 70%;
    margin: -40px auto 0;
  }
}

.title-heart {
  display: flex;
  align-items: center;
}
@media (min-width: 1024px) {
  .title-heart {
    justify-content: center;
  }
}
.title-heart h1 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Shrikhand";
  color: #101010;
}
.title-heart i {
  font-size: 25px;
  cursor: pointer;
  padding-left: 70px;
}

.heart-container {
  position: relative;
}
.heart-container:hover .empty-heart {
  opacity: 0;
  transition: 2s;
}
.heart-container:hover .full-heart {
  opacity: 1;
  transition: 2s;
}

.empty-heart {
  opacity: 1;
  position: absolute;
  top: -13px;
  right: -40px;
  transition: 0s;
  color: rgb(0, 0, 0);
}

.full-heart {
  opacity: 0;
  position: absolute;
  top: -13px;
  right: -40px;
  transition: 2s;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-subtitle h2 {
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 300;
  padding-left: 0;
  position: relative;
}
@media (min-width: 1024px) {
  .menu-subtitle h2 {
    padding-left: 5px;
  }
}
.menu-subtitle h2::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 26px;
  width: 48px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 4px;
  transform: translateX(-50%); /* Centre horizontalement */
}
@media (min-width: 1024px) {
  .menu-subtitle h2::after {
    left: 30px;
  }
}

.menu-container {
  display: flex;
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.menu-txt-container {
  display: flex;
  flex: 1;
  transition: 2s;
  align-items: flex-end;
}

.menu-title-container {
  flex: 1;
  padding-left: 15px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
}
.menu-title-container h3 {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 311px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-title-container p {
  padding-bottom: 8px;
  margin: 0;
  position: relative;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-price-container {
  padding-bottom: 8px;
  padding-right: 45px;
  margin: 0;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 700;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  width: 50px;
  margin-right: -80px;
  transition: 2s;
}

.menu-container:hover .check {
  margin-right: 0;
}

.menu-container:hover .menu-txt-container {
  width: calc(100% - 70px);
}

.button-order {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.button-order button {
  width: 218px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  border: none;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  font-family: "Roboto";
  text-align: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: all 400ms ease;
}
.button-order button:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5);
  filter: brightness(110%); /* Ajuste la luminosité */
}

.animationEntrees {
  opacity: 0;
  animation: menuAnimation 3s ease forwards;
  animation-delay: 0.2s; /* Délai pour le groupe d'entrées */
  padding-bottom: 5px;
}

.animationPlats {
  opacity: 0;
  animation: menuAnimation 3s ease forwards;
  animation-delay: 0.6s; /* Délai pour le groupe de plats */
  padding-bottom: 5px;
}

.animationDesserts {
  opacity: 0;
  animation: menuAnimation 3s ease forwards;
  animation-delay: 1s; /* Délai pour le groupe de desserts */
  padding-bottom: 5px;
}

@keyframes menuAnimation {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.loader-container {
  display: flex;
  position: fixed;
  width: 100vw;
  z-index: 1;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgba(5, 39, 39, 0.9);
  animation: endAnimation 0s ease-in 3s forwards;
}

@keyframes endAnimation {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
.container {
  position: relative;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ring 3s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #99e2d0;
  }
  25% {
    transform: rotate(120deg);
    box-shadow: 1px 5px 2px #008766;
  }
  50% {
    transform: rotate(240deg);
    box-shadow: 1px 5px 2px #003a68;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #9356dc;
  }
}
.dots {
  display: flex;
  position: absolute;
  top: 35px;
  left: 41px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.dots div {
  display: inline-block;
  animation: bounce 3s infinite;
  color: #9356dc;
  font-size: 80px;
  margin: 0 5px;
}

.dots div:nth-child(2) {
  animation-delay: 0.2s;
  color: #99e2d0;
}

.dots div:nth-child(3) {
  animation-delay: 0.7s;
  color: #008766;
}

.dots div:nth-child(4) {
  animation-delay: 1.1s;
  color: #00223d;
}/*# sourceMappingURL=main.css.map */