@charset "UTF-8";
/*Variables couleurs*/
/*Variables font*/
body {
  max-width: 425px;
  margin: 0 auto;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: #353535;
  padding-left: 27px;
}
footer h3 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  font-family: "Shrikhand";
  padding-top: 15px;
  margin-top: 0;
}
footer a {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
  gap: 5px;
}
footer i {
  padding-right: 7px;
  width: 11px;
  height: 13px;
  font-size: 14px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.homepage-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.Logo {
  height: 36px;
  margin: 14px;
}

.search-bar {
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), inset 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

#localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 18px;
  color: rgb(0, 0, 0);
  margin-right: 17px;
}

input {
  border: none;
  background-color: #EAEAEA;
  color: black;
  outline: none;
  width: 110px;
}

input::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
  width: 110px;
}

input::placeholder {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
  width: 110px;
}

.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.menu-nav i {
  font-size: 30px;
  height: 16px;
  align-content: center;
  position: absolute;
  right: 54px;
}

.title-and-intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: #F6F6F6;
  padding-bottom: 30px;
}
.title-and-intro h1 {
  font-family: "Roboto";
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  width: 275px;
  margin-bottom: 0;
  margin-top: 30px;
}
.title-and-intro p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
.title-and-intro button {
  width: 218px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  border: none;
  height: 50px;
  font-weight: 500px;
  font-size: 16px;
  color: #FFFFFF;
  font-family: "Roboto";
  text-align: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: all 400ms ease;
}
.title-and-intro button:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5);
  filter: brightness(110%); /* Ajuste la luminosité */
}

.operation {
  width: 100%;
  height: 440px;
  display: flex;
  flex-direction: column;
}
.operation-list {
  display: flex;
  flex-direction: column;
}
.operation h2 {
  padding-left: 15px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
}
.operation ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  padding-bottom: 30px;
}
.operation li {
  position: relative;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}

.fa-store {
  color: #9356DC;
  position: absolute;
  left: 46px;
  top: 27px;
}

.num {
  height: 30px;
  width: 30px;
  background-color: #9356DC;
  border-radius: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -15px;
  color: white;
}
.num-icons {
  color: gray;
  position: absolute;
  left: 46px;
  top: 27px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding-bottom: 20px;
}
.restaurants h2 {
  padding-left: 15px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
}

.card {
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}
.card-new {
  position: absolute;
  top: 13px;
  right: 15px;
  background-color: #99E2D0;
  border-radius: 2px;
  width: 80px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  color: #008766;
  font-size: 14px;
  font-weight: 500;
}
.card img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 11px;
  height: 60px;
}
.card-title {
  font-weight: 700;
  font-size: 18px;
  font-family: "Roboto";
  padding-top: 15px;
  padding-bottom: 2px;
  margin: auto;
}
.card-subtitle {
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto";
  margin-top: 0;
}
.card-heart {
  align-self: flex-end;
  position: absolute;
  right: 22px;
  bottom: 22px;
  color: #101010;
  font-size: 25px;
  cursor: pointer;
}

.menu-nav a {
  display: flex;
  align-items: center;
}

.img-container img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.positon {
  position: relative;
  padding-bottom: 264px; /* Ajustez cette valeur en fonction de la hauteur de votre footer */
  min-height: calc(100vh - 150px); /* 100px pour l'en-tête et 50px pour le footer */
}

.container-menu {
  position: absolute;
  top: -54px;
  width: 100%;
  height: 500px;
  background-color: #F6F6F6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.title-heart {
  display: flex;
  align-items: center;
}
.title-heart h1 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Shrikhand";
  color: #101010;
  padding-left: 15px;
}
.title-heart i {
  color: #101010;
  font-size: 25px;
  cursor: pointer;
  padding-left: 70px;
}

.menu-subtitle h2 {
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 300;
  padding-left: 15px;
  position: relative;
}

.menu-subtitle h2::after {
  content: ""; /* Ajout d'un pseudo-élément */
  position: absolute;
  top: 25px;
  left: 40px;
  width: 48px;
  height: 3px;
  background-color: #99E2D0;
  transform: translateX(-50%); /* Centre horizontalement */
}

.card-txt {
  padding-left: 15px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
}

.card-plat {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.card-description {
  padding-bottom: 8px;
  margin: 0;
  position: relative;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
}
.card-description .euro {
  position: absolute;
  right: 20px;
  font-weight: 700;
  font-size: 15px;
}

.button-order {
  display: flex;
  justify-content: center;
}
.button-order button {
  width: 218px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  border: none;
  height: 50px;
  font-weight: 500px;
  font-size: 16px;
  color: #FFFFFF;
  font-family: "Roboto";
  text-align: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: all 400ms ease;
}
.button-order button:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5);
  filter: brightness(110%); /* Ajuste la luminosité */
}/*# sourceMappingURL=main.css.map */