.menu-nav a {
    display: flex;
    align-items: center;
}

.img-container img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    background-position: center;

}

.container-menu {
    margin-top: -50px;
    position: relative;
    width: 100%;
    background-color: #F6F6F6;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px ;
    padding: 0 100px;
    box-sizing: border-box;
}
    
.title-heart {
        display: flex;
        align-items: center;

        @media (min-width: $breakpoint-desktop) {
            justify-content: center;
    }

        & h1 {
        font-size: 28px;
        font-weight: 400;
        font-family: $title-font;
        color:#101010 ;
        padding-left: 15px;
        }

        & i {
        @include heart-icon;
        padding-left: 70px;
        }
}

.menu-subtitle h2{
    font-family: $texte-font;
    font-size: 21px;
    font-weight: 300;
    padding-left: 15px;
    position: relative;
    
}

.menu-subtitle h2::after {
   @include border-menu-subtitle;
}


.button-order {
    display: flex;
    justify-content: center;
    padding: 30px 0;

    & button {
        @include purple-button
    }
}


.menu-container {
    display: flex;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    box-shadow:(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-bottom: 20px;
}

.menu-txt-container {
    
    display: flex;
    flex: 1;
    align-items: flex-end;
}

.menu-price-container {
    padding-bottom: 8px;
    padding-right: 30px;
    margin: 0;
    font-family: $texte-font;
    font-size: 15px;
    font-weight: 700;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    color: white;
    width: 70px;
    margin-right: -80px;
    transition: 2s;
}

.menu-title-container {
    flex: 1;
    padding-left: 15px;
    font-family: $texte-font;
    font-size: 18px;
    font-weight: 500;

    & h3 {
        margin: 0 ;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    & p {
        padding-bottom: 8px;
        margin: 0;
        position: relative;
        font-family: $texte-font;
        font-size: 15px;
        font-weight: 300;
    }
}

.menu-container:hover .check{
    margin-right: 0;
}

.heart-container {
    @include heart-container;

}

.empty-heart {
    opacity: 1;
    position: absolute;
    top: -13px;
    right: -40px;
    transition: 0s;
    color: rgb(0, 0, 0);
}


.full-heart {
    opacity: 0;
    position: absolute;
    top: -13px;
    right: -40px;
    transition: 0s;
    background: linear-gradient($secondary-color,$primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



////////////////// ANIMATION MENU //////////////////

.animationEntrees {
    opacity: 0;
    animation: menuAnimation 3s ease forwards;
    animation-delay: 0.2s; /* Délai pour le groupe d'entrées */
}

.animationPlats {
    opacity: 0;
    animation: menuAnimation 3s ease forwards;
    animation-delay: 0.6s; /* Délai pour le groupe de plats */
}

.animationDesserts {
    opacity: 0;
    animation: menuAnimation 3s ease forwards;
    animation-delay: 1s; /* Délai pour le groupe de desserts */
}

@keyframes menuAnimation {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}